body {
    background-color: dimgray;
}
    header, footer {
        background-color: rgb(54, 54, 54);
        text-align: center;           
    }
img {height: 400px; width: 600px; 
}

#jinjer {height: 400px; width: 600px; border: solid black 2px; float: left;
}
#dave {height: 400px; width: 600px; border: solid black 2px; float:right;
}
li {
    border: solid rgb(47, 123, 146) 1px;
    display: inline;
}

.float {
    float: left;
    padding: 10px;
}

.floatr {
    float:right;
    padding: 5px;
}

.right {

    right: 10px;
    width: 100%;
    border: 3px solid black;
    padding: 10px;
    overflow: auto;
}

#para {
    float: left;
}

